{
    "workbench.startupEditor": "newUntitledFile",
    "telemetry.enableTelemetry": false,
    "telemetry.enableCrashReporter": false,
    "git.confirmSync": false,
    "git.autofetch": true
    "editor.fontFamily": "SF Mono, Menlo, Monaco, 'Courier New', monospace",
}
