{
    "workbench.startupEditor": "newUntitledFile",
    "telemetry.enableTelemetry": false,
    "telemetry.enableCrashReporter": false,
    "git.confirmSync": false,
    "git.autofetch": true,
    "editor.fontSize": 14,
    "workbench.colorTheme": "Nord",
    "editor.fontFamily": "Menlo, Monaco, 'Courier New', monospace",
}
